@import "tailwindcss";

:root {
  --sb-hero-name-background: linear-gradient(-20deg, hsl(200, 98%, 39%) 30%, hsl(199, 95%, 74%));
  --sb-hero-background: linear-gradient(-45deg, hsl(200, 98%, 39%) 50%, hsl(199, 95%, 74%) 50%);
}

._header_88ipo_1 {
  background: transparent !important;
}

._header_88ipo_1 {
  background: rgb(6, 33, 50) !important;
  background-color: rgb(8, 23, 37) !important;
  background-color: #181818 !important;
  background-color: transparent !important;

}

._section-trigger_qtyly_102:not(:hover)[data-expanded] svg {
  opacity: 1 !important;
}

._section-trigger_qtyly_102:hover[data-expanded] svg {
  opacity: 1 !important;
}

._section-trigger_qtyly_102 h2 {
  font-family: Geist !important;
  font-weight: 600;
}


/* Global Scrollbar Override — FINAL BOSS MODE */

* {
  scrollbar-color: rgb(0, 95, 159) rgb(0, 0, 0) !important;
  scrollbar-width: thin !important;
}



._aside_12hnv_12{
  scrollbar-width: none !important;

  &:hover a {
    color: var(--sb-text-color) !important;
    opacity: 0.5 !important;
  }
  
  &:hover ._active_ge7zc_75 {
    color: #00aaff !important;
    opacity: 1 !important;
  }

  ._active_ge7zc_75 {
    color: #00aaff !important;
    text-decoration: underline;
    opacity: 1 !important;
  }

  li:hover a {
    color: var(--sb-heading-color) !important;
    text-decoration: underline;
    opacity: 1 !important;
  }
  li:hover ._active_ge7zc_75 {
    color: var(--sb-heading-color) !important;
    text-decoration: underline;
    opacity: 1 !important;
  }


  li:hover {
    background: rgb(0, 0, 0) !important;
  }

  ol:focus-within {

    li:hover a {
      color: var(--sb-heading-color) !important;
      opacity: 1 !important;
    }

    a {
      color: var(--sb-text-color) !important;
      opacity: 0.5 !important;
    }

    ._active_ge7zc_75 {
      color: #00aaff !important;
      opacity: 1 !important;
    }

  }
 

}




body {
  background-color: rgb(1, 19, 31);
  background-color: rgb(8, 23, 37);
  background-color: #28282B;
  background-color: #181818;
  background-color: #030712;
  background-position: 0 0, 0px 0px;
  background-size: 30px 30px, 0px 0px;
  /* separate sizes per layer */
}

._content_12hnv_6 {
  max-width: min(calc(100dvw - 2.5rem), 42rem);
}

._li_16ui5_130,
._p_16ui5_86 {
  color: rgb(194, 174, 154);
}

._li_16ui5_130,
._p_16ui5_86 {
  color: #dedddce1;
  color: #CBD5E1 !important;
  color: rgba(209, 213, 220, 0.87) !important;
  font-family: Inter;
  line-height: 1.75;
  font-weight: 400 !important;
}





@theme {
  --font-nav: "Roboto Condensed", sans-serif;
  --font-typing: Rajdhani, sans-serif;
  --font-paragraph: "Nunito Sans", sans-serif;
  --font-main-heading: "Anton", sans-serif;
  --font-paperHeading: "Barrio", sans-serif;
  --font-text: "Roboto Flex", sans-serif;
  --font-text1: "Tilt Neon", sans-serif;
}


._h1_16ui5_1 {
  color: rgb(0, 95, 159) !important;
  color: rgb(222, 234, 243) !important;
  font-family: Inter !important;
  font-size: 2rem !important;
  font-weight: 700 !important;
}






._section-trigger_qtyly_102:focus {
  opacity: 1 !important;
}

._section-trigger_qtyly_102:focus h2 {
  opacity: 1 !important;
}

._section-trigger_qtyly_102:hover {
  opacity: 1 !important;
}

._section-trigger_qtyly_102:hover h2 {
  opacity: 1 !important;
}


/* SideBar NavLink items  */
._sidenav-link_qtyly_198:hover {
  background-color: transparent !important;
  color: rgb(100, 193, 255) !important;
}


._sidenav-link_qtyly_198:hover {
  border-radius: 0 !important;
}

/* SIDELINK ITEMS CONTAINER */
._active_qtyly_255 {
  background-color: #062f5f;
  color: white !important;
  border-radius: 0px !important;
}

._active_qtyly_255:hover {
  background-color: #062f5f !important;
}

._sidenav-link_qtyly_198:hover span {
  text-decoration: underline;
  text-decoration-color: rgb(0, 129, 214);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}